@using KATQ_TEAM.Models
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mx-3">GIỎ HÀNG </h2>
<br />
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover table-bordered divGioHang">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Mã SP</th>
                    <th scope="col">Tên SP</th>
                    <th scope="col">Ảnh bìa</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="font-italic">
                        <td>@item.iMasp</td>
                        <td>@item.sTensp</td>
                        <td><img src="@Url.Content("~" + item.sAnhBia)" width="50" height="50" class="img-fluid" /></td>
                        <td>@String.Format("{0:0,0}", item.dDonGia) USD</td>
                        <td>@item.iSoLuong</td>
                        <td>@String.Format("{0:0,0}", item.ThanhTien) USD</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="2" class="text-right mt-3">
                        @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang", null, new { @class = "btn btn-warning" })
                        @using (Html.BeginForm("ThanhToanDonHang", "GioHang"))
                        {
                            <input type="submit" value="Đặt hàng" class="btn btn-danger" />
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<style type="text/css">
    .divGioHang {
        margin-left: auto;
        margin-right: auto;
        font-size: large;
    }

        .divGioHang td, .divGioHang th {
            text-align: center;
            vertical-align: middle;
        }

        .divGioHang img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
</style>
