@model KATQ_TEAM.Models.DonHang
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="animated fadeInDown">Đơn hàng đã được thanh toán thành công!</h2>

<p class="animated fadeInUp text-success">Xin chúc mừng! Đơn hàng của bạn đã được xử lý thành công.</p>

<!-- Hiển thị thông tin chi tiết đơn hàng -->
<div class="table-responsive animated fadeInLeft">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row" style="width: 30%;">Mã đơn hàng:</th>
                <td>@Model.Madon</td>
            </tr>
            <tr>
                <th scope="row">Ngày đặt hàng:</th>
                <td>@Model.Ngaydat</td>
            </tr>
            <tr>
                <th scope="row">Tổng tiền:</th>
                <td>@Model.Tongtien</td>
            </tr>
            <tr>
                <th scope="row">Phương thức thanh toán:</th>
                <td>@Model.PhuongThuc</td>
            </tr>
            <tr>
                <th scope="row">Địa chỉ nhận hàng:</th>
                <td>@Model.Diachinhanhang</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="animated fadeInRight">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay lại trang chủ</a>
</div>
