@model KATQ_TEAM.Models.LoginModel

@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="padding:50px;max-width:fit-content; border-radius:revert">
    <div class=" justify-content-center d-flex">
        <div class="">
            <div class="bg-white p-4" style="background-color:white">
                <div class="card-body" style="padding:50px">
                    <h2 class="card-title text-center">Đăng nhập</h2>
                    <hr />
                    <h3 class="text-danger text-center">@ViewBag.Fail</h3>
                    @using (Html.BeginForm("Dangnhap", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.userMail, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.userMail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userMail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { type = "password", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group ">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                                </div> 
                                
                                <div class="col-md-5">
                                    <a href="/User/Dangky" class="btn btn-success">Đăng ký</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
