@model KATQ_TEAM.Models.Nguoidung

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">HỒ SƠ CÁ NHÂN</h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 200px;">Họ và tên:</th>
                        <td>@Html.DisplayFor(model => model.Hoten)</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>Điện thoại:</th>
                        <td>@Html.DisplayFor(model => model.Dienthoai)</td>
                    </tr>
                    <tr>
                        <th>Mật khẩu:</th>
                        <td>@Html.DisplayFor(model => model.Matkhau)</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ:</th>
                        <td>@Html.DisplayFor(model => model.Diachi)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <button class="btn btn-success text-white">
                @Html.ActionLink("Chỉnh sửa hồ sơ", "Edit", new { id = Model.MaNguoiDung }, new { @class = "text-white" })
            </button>
        </div>
    </div>
</div>
