<style>
    /* Kiểu cho card */
    .card {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background-color: #f8f9fa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
        transition: transform 0.2s; /* Hiệu ứng chuyển đổi khi hover */
    }

        .card:hover {
            transform: translateY(-5px); /* Hiệu ứng di chuyển lên khi hover */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng đậm hơn khi hover */
        }

    .card-img-top {
        height: 200px; /* Giới hạn chiều cao ảnh */
        object-fit: cover;
    }

    .card-body {
        padding: 20px; /* Khoảng cách nội dung bên trong card */
    }

    .card-title {
        color: #007bff;
        margin-bottom: 10px;
    }

    .card-text {
        color: #dc3545;
    }

    /* Kiểu cho tiêu đề */
    .bg-danger h3 {
        padding: 15px 20px; /* Điều chỉnh padding */
        color: white;
    }
</style>
<div class="container">
    <div class="row mb-4">
        <div class="col-12 bg-danger text-center">
            <p style="color: darkblue; font-size: 30px; font-weight: 700">Khacs</p>
        </div>
    </div>
    <div class="row d-flex">
        @* Sử dụng flexbox *@
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <a href="@Url.Action("xemchitiet", new { @Masp = item.Masp })">
                        <img src="@Url.Content("~" + item.Anhbia.ToString())" class="img-responsive" alt="@item.Tensp">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Tensp</h5>
                        <p class="card-text">Giá: @String.Format("{0:0,0}", @item.Giatien) VND</p>
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                        {
                            <button type="submit" class="btn btn-primary">Mua hàng</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>
