@using KATQ_TEAM.Models
@model Sanpham

@{
    ViewBag.Title = "xemchitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container">
    <div class="text-center">
        <h2 class="my-4">CHI TIẾT SẢN PHẨM</h2>
        <div class="d-flex justify-content-center">
            <div class=" col d-flex justify-content-center align-items-center">
                <img src="@Url.Content("~" + Model.Anhbia)" class="card-img-top img-fluid" style="width: 100%; height: auto;" alt="@Model.Tensp">
                <div class="card-body text-center">
                    <h5 class="card-title">Tên: @Model.Tensp</h5>
                    <p>Mô tả: @Model.Mota</p>
                    <p class="card-text text-danger">Giá: @String.Format("{0:0,0}", Model.Giatien) USD</p>
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = Model.Masp, @strURL = Request.Url.ToString() }))
                    {
                        <button type="submit" class="btn btn-primary">Mua hàng</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="all-products">
    <h2 class="my-4 text-center">TẤT CẢ SẢN PHẨM</h2>
    <div class="row">
        @{ Html.RenderAction("dtAllpartial", "Sanpham");}
    </div>
</div>

<style>
    .card-img-top {
        object-fit: contain;
        max-height: 300px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        transition: background-color 0.3s ease-in-out;
    }

    .product-detail img {
        transition: transform 0.3s ease-in-out;
    }

    .product-detail h3 {
        transition: color 0.3s ease-in-out;
    }

    .all-products .product-item {
        margin-bottom: 20px;
    }
</style>
