<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KATQ_TEAM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @using KATQ_TEAM.Models

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            background-color: #F0F0F0;
            font-family: 'Arial', sans-serif;
        }

        .navbar-inverse {
            background-color: #39B54A;
            border-color: #39B54A;
        }

        .top_header {
            background-color: #007BFF;
            padding: 10px 20px;
            color: white;
        }

        .form-inline {
            float: right;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
            color: cadetblue;
        }

        .spnoibat {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: white;
        }

        .card {
            transition: transform 0.2s;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            background-color: #ffffff;
            border-radius: 5px;
        }

            .card:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

        .card-title {
            color: #007bff;
        }

        .card-text {
            color: #dc3545;
        }

        .navbar-brand img {
            margin-right: 10px;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    @{ var u = Session["use"] as KATQ_TEAM.Models.Nguoidung; }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="top_header col-md-12 py-4 h-100">
            <div class="row">
               
                <div class="col-6">
                    <div style="display:flex;align-items:end; justify-content:flex-end">
                        <div style="color:white"><a style="color:white" type="button" href="@Url.Action("Index", "Home")" class="btn btn-light text-light">
    <i class="fa fa-home"></i> KATQ_TEAM
</a></div> 
                        <div style="width:50px"></div>

                        <div class=" text-right">
                            @{
                                if (u != null)
                                {
                                    <a style="color:white" href="@Url.Action("Profile", "User", new { id = u.MaNguoiDung })">Xin chào: @u.Email</a>
                                    <a style="color:red" href="/User/DangXuat">ĐĂNG XUẤT</a>
                                }
                                else
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user" aria-hidden="true"></i> <!-- User icon with dropdown for login and registration -->
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="p-3 m-2 btn btn-outline-success border border-dark" style="color: #007BFF"> <a class="dropdown-item" href="/User/Dangky">Đăng ký</a></div>

                                            <div class="p-3 m-2 btn btn-outline-success border border-dark" style="color: #007BFF"><a class="dropdown-item" href="/User/Dangnhap">Đăng nhập</a></div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div style="width:50px"></div>
                        <div class=" text-right">
                            @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" }) <!-- Shopping cart icon -->
                        </div>
                        <div style="width:50px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content content">
        @RenderBody()
        <hr />

        <br />
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div>
            <img class="img-responsive" src="https://fptshop.com.vn/Uploads/Originals/2024/3/8/638455174621285140_Dien-thoai%20(2).png" />
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © @DateTime.Now.Year Copyright:
            <a class="text-body" href="/">KATQ_TEAM</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
